@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

@theme {
  --color-background: #d2d2da;
  --color-brand: #1a222f;
}

body {
  background-color: var(--color-background);
  min-height: 100vh;
}
